<form action="/addSong" method="POST">
  <label>Youtube URL: <input type="text" name="url" placeholder="Ex. https://www.youtube.com/watch?v=e8-Qp-YF9dw" /></label>
  <label>Nav Name: <input type="text" name="nav" placeholder="Nav Name" /></label>
  <label>Full Name: <input type="text" name="name" placeholder="Full Song Name" /></label>
  <label>Loop Start: <input type="text" name="start" placeholder="31.73" /></label>
  <label>Loop End: <input type="text" name="end" placeholder="40.50" /></label>
  <input type="submit" value="Add Song" />
</form>